/* I Declare global CSS variables */
:root {
  --primary-color: steelblue;
  --secondary-color: white;
  --border-color: steelblue;
  --box-shadow-color: gray;
  --padding-small: 1rem;
  --padding-large: 20px;
  --aside-bg-color: #eee;
  --aside-text-color: #333;
  --footer-border-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Center header, footer, and grid content */
header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding-small);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid var(--border-color);
  padding: 2px;
  box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
  padding: 0;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}


aside {
  position: relative;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 100px;
}

aside img {
  width: 200px;
  height: auto;
  margin-top: 30px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--footer-border-color);
  text-align: center;
}
