/* I Declare global CSS variables */
:root {
  --primary-color: steelblue;
  --secondary-color: white;
  --border-color: steelblue;
  --box-shadow-color: gray;
  --padding-small: 10px;
  --padding-large: 20px;
  --aside-bg-color: #eee;
  --aside-text-color: #333;
  --footer-border-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding-small);
}

nav a {
  color: var(--secondary-color);
  display: block;
  padding: var(--padding-large);
}

h1 {
  color: var(--primary-color);
}

main {
  max-width: 840px;
  margin: 10px;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid var(--border-color);
  padding: 2px;
  box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
  padding: 0;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside {
  width: 20em;
  text-align: center;
}

aside {
  position: relative;
}

aside h2 {
  position: absolute;
  top: 20px;
  left: 100px;
}

aside img {
  width: 200px;
  height: auto;
  margin-top: 30px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--footer-border-color);
  text-align: center;
}
